* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    background: #eeeeee;
}


h1 {
    font-size: 18px;
    margin-top: 0;
}


.fl {
    float: left;
}


.fr {
    float: right;
}


.clearfix:after,
.clearfix:before {
    content: " ";
    clear: both;
    display: table;
}


.navbar {
    background: #ac2925;
    color: #f9f9f9;
}


.navbar a {
    color: #f9f9f9;
}


.navbar form {
    display: inline-block;
}


a {
    text-decoration: none;
}


.navbar-item {
    display: inline-block;
    line-height: 2.5;
    padding: 2px 4px;
}


.navbar-item:first-child {
    margin-left: 4px;
}


.navbar-item:last-child {
    margin-right: 4px;
}


.navbar .brand {
    font-size: 20px;
    padding-top: 0;
    line-height: 1;
    font-weight: 600;
}


.container {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}


.container.signup, .container.question-add, .container.login, .container.reset-password {
    width: 400px;
    margin-top: 15px;
}


[ui-sref] {
    cursor: pointer;
}


form,label {
    display: block;
}


label {
    margin: 4px 0;
}


.input-error-set {
    color: #d43f3a;
    margin: 4px 0;
}


.card {
    display: block;
    padding: 10px 6px;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}


input, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
}

.input-group {
    margin-bottom: 10px;
}


button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #FFFFFF;
    font-size: 14px;
    line-height: 1.2;
}


button.primary, #quick_ask button {
    background: #ac2925;
    color: #f9f9f9;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}


button[disabled] {
    background: #eeeeee;
    color: #444444;
}


input, button {
    padding: 6px;
}